 body {
  background-color: white;
}

  h1 {
  color: black;
  text-align: center;
  margin: 0px auto;
}

h3 {
 color: black;
 text-align: center;
 margin: 0px auto;
}
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}
     
  table {
  font-color: black;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

td, th {
  border: 16px solid #white;
  text-align: center;
  padding: 8px;
}

tr:hover {
  background-color: #E3E3E3;
}

.table {
  position: absolute;
  margin: 0px auto;
}

.form {
  position: absolute;
  margin: 0px auto; 
}

.buttons {
  position: absolute;
  margin: 0px auto; 
}

.checkbox {
  position: absolute;
  margin: 0px auto; 
}

