 body {
  background-color: #006400;
}

  h1 {
  color: white;
  text-align: center;
}
    
  a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
    
  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
    
    
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 16px solid #white;
  text-align: center;
  padding: 8px;
}

tr:hover {
  background-color: gold;
}
