body, html {
         background-color:black;
   
}

li {
         float: right;
         display:inline;
}

a {
         padding: 8px;
         background-color: black;
         color:yellow;
}

a:hover {
         background-color: navy;
}

.websites {
         color:yellow;
         display:block;
}

.websites:hover{
         background-color:navy;        
}
