body, html {
        height:100%
        margin:0;
        font-family: Arial;
}

.background1, .background2, .background3 {
        position: relative;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;

}

.background1 {
        background-image: url('images/mountain.jpg');
        min-height: 100%;
}

.background2 {
        background-image: url('images/waterview.jpg');
        min-height: 350px;
}

.background1 {
        background-image: url('images/nightwaterfall.jpg');
        min-height: 350px;
}

.buttoniv {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: black;
}

.button {
        text-transform:uppercase;
        text-decoration:none;
        border: 2px solid white;
        color: white;
        padding:16px;
        font-size: 22px;
        letter-spacing:8px;
}

.button:hover{
        background-color: gray;
        transition:1s;
        opacity:0.5;
        
}

.heading {
        letter-spacing: 4px;
        text-transform: uppercase;
        text-align:center;
        color:black;
}

.welcome{
        color: gray;
        background-color:white;
        text-align:center;
        padding: 60px 50px;    
}

.about {
        color: white;
        background-color:gray;
        text-align:center;
        padding: 60px 50px;      
}

.contact {
        color: gray;
        background-color:white;
        text-align:center;
        padding: 60px 50px;       
}

.wrapper{ 
        position:relative;
}


