* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.parallax {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    position:relative;
    
}

.parallax  h1 {
    letter-spacing:5px; 
    margin-bottom:20px;
}

.parallax1::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url("images/night1.jpg") center/center cover;
    background-attachment:fixed;
   
}

.parallax1::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: 0, 0, 0, 0.459;
    
}

.parallax2::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url("images/night2.jpg") center/center cover;
    background-attachment:fixed;
    
}

.parallax2::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: 0, 0, 0, 0.459;
  
}

.parallax3::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: url("images/night3.jpg") center/center cover;
    background-attachment:fixed;
    
}

.parallax3::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: 0, 0, 0, 0.459;
    
}

.text {
    padding:60px, 50px;
    background-color:gray;
    color:white;
    
}

.text h1 {
    text-size:13px;
    margin-bottom:15px; 
}

.text p {
    text-align:justify;
    
}


